/* implementing/loading the custom font */
@font-face {
    font-family: "PressStart2P";
    src: url("../font/PressStart2P-Regular.ttf") format("truetype")
}

body {
    font-family: "PressStart2P";
    background-color: #280044;
    color: #FFFFFF;
    padding: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 /* Raster hinzufügen */
    background-image:
        linear-gradient(to right, rgba(164,255,136,0.1) 1px, transparent 5px),
        linear-gradient(to left, rgba(164,255,136, 0.1) 1px, transparent 5px),
	linear-gradient(to top, rgba(164,255,136,0.1) 1px, transparent 5px),
        linear-gradient(to bottom, rgba(164,255,136,0.1) 1px, transparent 5px);
    background-size: 80px 120px;
}

main{
flex: 1;
}

footer{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #333333;
    padding: 10px;
}

.logo {
width: 100px;
height: auto;
}

.Git-logo { 
width: 100px; 
height: auto;
}

/* header row (h1 and logo) formatting */
.header-row {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    min-height: 80px;
    padding: 0 140px;
}

/* individual h1 formatting/customization */
h1 {
    display: inline-block;
    background-color: #111111;
    color: #a4ff88;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 0;
}

/* wrapper (Input box) formatting */
.wrapper {
    max-width:500px;
    margin: 30px auto;
    color: #b5ff99;
    background-color: #111111;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
   font-weight: bold;
}

/* Formatting the input module */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}


input {
    padding: 10px;
    font-family: PressStart2P;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #333333;
    border: 1px solid #AAAAAA;
    border-radius: 6px;
}

input:hover {
    background-color: #444444;
}

input:focus {
    background-color: #444444;
}

/* Submit button (Player Info) */
button {
    margin-top: 10px;
    padding: 12px;
    font-family: PressStart2P;
    font-size: 16px;
    background-color: #333333;
    color: #b5ff99;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #444444;
}

#outputBox {
    display: none;
    margin-top: 20px;
}

body {
    margin: 0;
}

.game-wrapper {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.game-wrapper iframe {
    display: block;
    border: none;
}
